{
  "products": [{
    "id": 123456789,
    "title": "Book Title",
    "variants": [{
      "id": 987654321,
      "sku": "BOOK-001",
      "metafields": [{
        "namespace": "product",
        "key": "isbn",
        "value": "978-0-123456-78-9",
        "type": "single_line_text_field"
      }]
    }]
  }]
}
